.tip-tap {
    .menu-bar {
        button {
            border: 0.1rem solid var(--chakra-colors-gray-400);
            color: var(--chakra-colors-gray-600);
            border-radius: 0.25rem;
            padding: 0rem 0.25rem;
            font-weight: 400;
            
            &:is(.is-active) {
                border: 0.1rem solid var(--chakra-colors-gray-800);
                background: var(--chakra-colors-gray-800);
                font-weight: 600;
                color: white;
            }

            &:disabled {
                opacity: 0.4;
            }
        }
    }
    .tiptap {
        outline: none;
    
        > * + * {
          margin-top: 0.75em;
        }
      
        ul,
        ol {
          padding: 0 1rem;
        }
      
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          line-height: 1.1;
        }

        h1 {
            font-size: 2.5rem; /* 40px */
        }
        
        h2 {
            font-size: 2rem; /* 32px */
        }
        
        h3 {
            font-size: 1.75rem; /* 28px */
        }
        
        h4 {
            font-size: 1.5rem; /* 24px */
        }
        
        h5 {
            font-size: 1.25rem; /* 20px */
        }
        
        h6 {
            font-size: 1rem; /* 16px */
        }
      
        code {
          background-color: rgba(#616161, 0.1);
          color: #616161;
        }
      
        pre {
          background: #0D0D0D;
          color: #FFF;
          font-family: 'JetBrainsMono', monospace;
          padding: 0.75rem 1rem;
          border-radius: 0.5rem;
      
          code {
            color: inherit;
            padding: 0;
            background: none;
            font-size: 0.8rem;
          }
        }
      
        img {
          max-width: 100%;
          height: auto;
        }
      
        blockquote {
          padding-left: 1rem;
          border-left: 2px solid rgba(#0D0D0D, 0.1);
        }
      
        hr {
          border: none;
          border-top: 2px solid rgba(#0D0D0D, 0.1);
          margin: 2rem 0;
        }
    }
}